:root {
  --primary-color:#4f772d;
  --secondary-color: #fefeff;
  --tertiary-color: #bece7a;
  --font-family-title: 'Comfortaa', sans-serif;
  --font-family-text: 'Zen Maru Gothic', serif;
}

main{
  background-color: var(--secondary-color);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;

}

.menu-img {
 width: 3rem;
}

.menu-navbar-itens {
  display: flex;
  gap: 2rem;
  font-family: var(--font-family-title);
  font-weight: 400;
  text-decoration: none;
}

.menu-navbar-links {
  text-decoration: none;
  color: var(--secondary-color);
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 6rem 3rem 3rem;
  color: var(--primary-color);
}

.title-principal {
  font-family: 'Borel', cursive;
  font-size: 8rem;
  position: absolute;
}

.title-text {
  font-family: var(--font-family-text);
  font-size: 2rem;
  position: relative;
  margin-top: 4.5rem;
  color: #000000;
}

.services-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 2rem;
  color: #000000;
}

.services-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-color);
   padding: 2rem;
  transition: 0.6s;
  border-radius: 5px;
}

.services-item:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px black;
}

.services-item-img {
  width: 150px;
}

.services-item-title {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  margin: 0.5rem;
  letter-spacing: 0.1rem;
}

.services-item-text {
  font-family: var(--font-family-text);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.table-text {
  display: flex;
}

.table-title {
  margin: 2rem 2rem;
  font-family: var(--font-family-title);
  color: var(--primary-color);
  font-size: 1.75rem;
}

.table-button {
  background-image: url(../../assets/img/ArrowDown.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
  transition: 0.6;
}


table, th, td {
  border: 1px solid var(--primary-color);
  }
  
  table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2rem;
  }

  th{
    font-family: var(--font-family-title);
    color: var(--primary-color);
    }

  td {
    font-family: var(--font-family-text);
    font-weight: 700;
  }
  
  th, td{
  padding: 10px;
  text-align: center;
  width: 120px;
  }
  
  th{
  font-weight: bold;
  }
  
  
  tr:nth-child(even) {
  background-color: #DCEBE6;
  }
  
  tr:hover:nth-child(1n + 2) {
  background-color: var(--tertiary-color);
  }



/* RESPONSIVIDADE */
@media screen and (max-width: 450px) {
  .menu-header{
    flex-direction: column;
  }

  .menu-img {
    width: 1.5rem;
    margin-bottom: .5rem;
  }
.menu-navbar-itens {
    font-size: 0.5rem;
 }

  .title {
    padding-top: 3rem;
  }

  .title-principal {
    font-size: 4.5rem;
  }

  .title-text {
    font-size: 1.3rem;
    margin-top: 4rem;
  }

  .services-container {
    flex-direction: column;
    gap: 2rem;
  }

  .services-item{
    padding: 0.5rem;
    box-shadow: 2px 2px 10px #000000;
  }

  .services-item-img {
    width: 75px;
  }

  .services-item-title {
    font-size: 0.75rem;
  }

  .services-item-text {
    font-size: 0.75rem;
  }

  .table-text {
    flex-direction: column;
  }

  .table-title {
    margin: 2rem 2rem 0 2rem;
    text-align: center;
  }

  table {
    margin: 0.5rem;
  }

  
}