:root {
  --primary-color: #4f772d;
  --secondary-color: #fefeff;
  --tertiary-color: #bece7a;
  --font-family-title: "Comfortaa", sans-serif;
  --font-family-text: "Zen Maru Gothic", serif;
}

main {
  background-color: var(--secondary-color);
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem;
}

.menu-img {
  width: 3rem;
}

.menu-navbar-itens {
  display: flex;
  gap: 2rem;
  font-family: var(--font-family-title);
  font-weight: 400;
  text-decoration: none;
}

.menu-navbar-links {
  text-decoration: none;
  color: var(--secondary-color);
}

.title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 6rem 3rem 3rem;
  color: var(--primary-color);
}

.title-principal {
  font-family: "Borel", cursive;
  font-size: 8rem;
  position: absolute;
}

.title-text {
  font-family: var(--font-family-text);
  font-size: 2rem;
  position: relative;
  margin-top: 4.5rem;
  color: #000000;
}

.services-container {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  margin: 0 2rem;
  color: #000000;
}

.services-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--tertiary-color);
  padding: 2rem;
  transition: 0.6s;
  border-radius: 5px;
}

.services-item:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 20px black;
}

.services-item-img {
  width: 150px;
}

.services-item-title {
  font-family: var(--font-family-title);
  font-size: 1.5rem;
  margin: 0.5rem;
  letter-spacing: 0.1rem;
}

.services-item-text {
  font-family: var(--font-family-text);
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.table-text {
  display: flex;
}

.table-title {
  margin: 2rem 2rem;
  font-family: var(--font-family-title);
  color: var(--primary-color);
  font-size: 1.75rem;
}

.table-button {
  background-image: url(../../assets/img/ArrowDown.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 1.5rem;
  cursor: pointer;
  background-color: var(--secondary-color);
}

table,
th,
td {
  border: 1px solid var(--primary-color);
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 2rem;
}

th {
  font-family: var(--font-family-title);
  color: var(--primary-color);
}

td {
  font-family: var(--font-family-text);
  font-weight: 700;
}

th,
td {
  padding: 10px;
  text-align: center;
  width: 120px;
}

th {
  font-weight: bold;
}

.footer {
  background-color: var(--primary-color);

  font-size: 18px;
  display: flex;
}

.footer .left {
  float: left;
  border-right: 0;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.footer .title-footer {
  color: var(--secondary-color);
  font-family: var(--font-family-title);
  font-weight: initial;
  font-size: 2.5rem;
  margin-bottom: 15px;
}


.footer .links {
  color: var(--tertiary-color);
  margin-bottom: 20px;
  padding: 0;
}

.footer .links a {
  cursor: pointer;
}

.footer .links a,
p {
  display: block;
  line-height: 33px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-family: var(--font-family-text);
  font-size: 1.5rem;
  transition: 0.3s;
  padding-bottom: 1rem;
  letter-spacing: 5px;
}

.footer .links a:hover {
  color: var(--secondary-color);
}


.footer .footer-icons {
  margin-bottom: 20px;
}

.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  margin-bottom: 5px;
  margin-right: 5rem;
  margin-top: 2rem;
}


.footer {
  padding: 100px 50px 50px 100px;
}

.footer form input,
.footer form textarea {
  width: 100%;
  float: left;
}
.footer form button {
  padding: 10px 35px;
}

.footer form input,
.footer form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border: none;
  resize: none;
  outline: none;
  font-size: 1rem;
  font-family: var(--font-family-text);
  color: var(--primary-color);
  width: 100%;
  padding: 18px;
}

.footer ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer :-ms-input-placeholder {
  color: #5c666b;
}

.footer form input {
  margin-bottom: 15px;
}

.footer form textarea {
  margin-bottom: 20px;
}

.footer form .btn {
  border-radius: 3px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 50px;
  font-family: var(--font-family-title);
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.footer form .btn:hover {
  background-color: var(--tertiary-color);
}

/* RESPONSIVIDADE */
@media screen and (max-width: 450px) {
  .menu-header {
    flex-direction: column;
  }

  .menu-img {
    width: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .menu-navbar-itens {
    font-size: 0.5rem;
  }

  .title {
    padding-top: 3rem;
  }

  .title-principal {
    font-size: 4.5rem;
  }

  .title-text {
    font-size: 1.3rem;
    margin-top: 4rem;
  }

  .services-container {
    flex-direction: column;
    gap: 2rem;
  }

  .services-item {
    padding: 0.5rem;
    box-shadow: 2px 2px 10px #000000;
  }

  .services-item-img {
    width: 75px;
  }

  .services-item-title {
    font-size: 0.75rem;
  }

  .services-item-text {
    font-size: 0.75rem;
  }

  .table-text {
    flex-direction: column;
  }

  .table-title {
    margin: 2rem 2rem 0 2rem;
    text-align: center;
  }

  table {
    margin: 0.5rem;
  }

  .footer {
    flex-direction: column;
  }

  .left {
    margin-top: 1rem;
  }

  .title-footer,
  .links {
    text-align: center;
  }

  .footer-icons {
    margin-left: 2rem;
  }

  .footer form {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@media (min-width: 768px) {
  .footer .left {
    width: 48%;
    border-bottom: 0;
  }
  .footer .right {
    width: 48%;
    padding-left: 4%;
    border-left: 1px #222424 solid;
  }
  .footer form {
    margin-top: 30px;
  }
  .footer form {
    display: block;
  }
  .footer form button {
    float: none;
  }
}
